#titulo-sitio{
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	color: #d39a0a;
	font-size: 4em;
	padding: 10px;
	text-shadow: 2px 2px 5px   #B3B6B7;
	font-family: 'Arial';
}

body{
	background-color:  #B3B6B7;
	background-image: url('../img/food.png');
	background-position: left top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

div#hermano ~ div{
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px;
	height: 200px;
	width: 200px;
	margin:10px;
	display: inline-block;
	background-image: url('../img/fondo-receta.png');
}

div#hermano ~ div:hover{
	opacity: 0.7;
}


p#Titulo-de-receta{
	font-variant: small-caps;
	margin: 5px;
	padding: 5px 10px 40px;
	color: white;
	font-size: 25px;
	font-weight: bolder;
	border-bottom: 2px solid #aa000e;
}

p#Titulo-de-receta a{
	color: #db990a;
	text-decoration: underline;
}

p#Titulo-de-receta a:hover{
	color: #edc163;
	text-decoration: none;
}

p#Titulo-de-receta a:visited{
	color: #7c652e;
}

p#Categoria{
	color:#d69f2a;
	font-family: 'Verdana';
	font-weight: bolder;
	margin: 0px 10px;
}

p#Descripcion{
	padding: 4px;
	margin: 1px 10px 0px 15px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
}

div#resumenes{
	border-bottom: 4px solid #779504;
}

div#r-detallada{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	border-bottom: 1px dotted #e0d2b1;
}

div#r-detallada  div{
	display: inline-block;
}

div#receta{
	padding-left:5px;
	font-family: 'Verdana';
	width: 700px;
}

#comida-img{
	width: 150px;
}

